In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('datasets/kaggle-california-housing.csv')
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
16190,-121.29,37.96,48.0,1778.0,541.0,1237.0,462.0,1.3438,103100.0,INLAND
11485,-117.99,33.72,26.0,1787.0,275.0,801.0,270.0,5.5514,255700.0,<1H OCEAN
16977,-122.31,37.57,31.0,2197.0,477.0,1193.0,394.0,4.6371,271100.0,NEAR OCEAN
11479,-118.02,33.73,24.0,6393.0,1141.0,2743.0,1057.0,5.1384,336900.0,<1H OCEAN
15701,-122.44,37.79,52.0,3640.0,840.0,1525.0,796.0,4.4375,500001.0,NEAR BAY

In [3]:
housing_data.dropna(inplace=True)
housing_data.shape

In [ ]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value']==500001].index)